body {
	padding : 2% ;
	background-color: #f7f7f7;
}

.item {
	padding : 1% ;
	margin : 2% ;
}

table {
	text-align: center;
	border-collapse: collapse;
	width:90%;
	border:1px solid #a0a0a0;
}

table tr{
	padding : 3px;
}

#storagSingleTable , #folderCreateTable , #folderSingleTable { width:55%; }

#folderCreateTable input { width:95%; }

table  th , table  td {
	border:1px solid #a0a0a0;
	max-width: 600px;
	min-width: 45px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.td_bold { font-weight:bolder }

.tag { display: block; margin-bottom: 15px; }

